/*Définition de police personnalisée*/

@font-face
{
    font-family: 'anaphora-extralightitalic';
    src: url("../anaphora-extralightitalic-webfont.woff2") format('woff2'),
         url('../anaphora-extralightitalic-webfont.woff') format('woff');
}

/*Eléments principaux de la page*/

body
{ 
    background-image: url("../Images/baikal.jpg");;
    background-repeat: inherit;
}

a:hover
{
    text-decoration: overline;
    color: #453E38;
}

.souligne
{
    text-decoration-line: underline;
}

/*Header*/

header
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "anaphora-extralightitalic", serif;
    display: flex;
    flex-direction: column;    
}

#photocoord 
{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content: space-between;
}

mark{
    background-color: #bdc4ca;
    font-family: "anaphora-extralightitalic"; 
    text-align: justify;
    color: #283743;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.dessus
{
    clear: left;
}

.imageflottante
{
    float: float;
}

h1
{
    color: #2a4862; 
    font-size: 1.8em;
    font-style: normal;
}

h2
{
    color: slateblue;
    font-size: 1.5em;
    font-style: oblique;
    text-decoration-line: underline;
}

h1, h2
{
    display: flex;
    justify-content: center;
    margin: 0%;
}

/*Navigation*/

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

nav li
{
    margin: 15px;
}

/*Corps*/

section
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: justify;
    color: #1f2931;   
    display: flex;
    justify-content: space-evenly;
    font-size: small; 
    margin-left: 5%;  
}

#compform
{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 5%;
}

h3{ 
    color: #2a4862; 
    font-size: 1.2em;
}

em{
    border-width: 0.2em;
    border-color: #5e6469;
    border-style: solid;
    box-shadow: 1px 1px 0px #778794;
}

/*Pied de page*/

 footer ul
 {
    color: #2a4862;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1em;
    border: 1px dashed black;
    text-align: center;
    padding: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}


footer li
{
    margin: 15px;
    display: flex;
    align-items: space-between;
}